body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer_container{
    border: 1px solid rgb(172, 155, 155);
    margin-top: 5rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}